@page
@model ProfilesModel
@{
    ViewData["Title"] = "Все пользователи";
}

<h2>Пользователи</h2>

<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>Email</th>
            <th>Имя</th>
            <th>Роли</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.UserName</td>
                <td>@string.Join(", ", user.Roles)</td>
            </tr>
        }
    </tbody>
</table>
