@page
@model checkpoint.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Панель администратора";
}

<h2>Панель администратора</h2>
<p>Здесь можно будет добавлять управление пользователями, логи, настройки и другое.</p>
