@page
@model checkpoint.Pages.FormModel
@{
    ViewData["Title"] = "Добавить студента";
}

<h2>Добавить студента</h2>

<form method="post" asp-page-handler="Student">
    <div class="form-group">
        <label>Имя:</label>
        <input asp-for="Student.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Фамилия:</label>
        <input asp-for="Student.Surname" class="form-control" />
    </div>
    <div class="form-group">
        <label>Отчество:</label>
        <input asp-for="Student.Patronymic" class="form-control" />
    </div>
    <div class="form-group">
        <label>Дата рождения:</label>
        <input asp-for="Student.BirthDay" type="date" class="form-control" />
    </div>
    <div class="form-group">
        <label>Группа:</label>
        <input asp-for="Student.Group" class="form-control" />
    </div>
    <div class="form-group">
        <label>Специальность:</label>
        <input asp-for="Student.Specialty" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
