@page
@model IndexModel
@{
    ViewData["Title"] = "checkpoint";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p class="kpp-description">Добро пожаловать на сайт Контрольно-пропускного пункта Торжокского Политехнического колледжа Росрезерва!</p>
    <p>Здесь вы можете ознакомиться со списками всех людей, проходящих через наш Контрольно-пропуской пункт!</p>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Контрольно-пропускной пункт</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Students">Студенты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Employer">Работники</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Visitor">Посетители</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Form">Информация о проходящих через КПП</a>
            </li>
        </ul>
    </div>
</nav>
<h2 class="mt-4">Недавние посетители</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Отчество</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var visitor in Model.Visitors)
        {
            <tr>
                <td>@visitor.Name</td>
                <td>@visitor.Surname</td>
                <td>@visitor.Patronymic</td>
            </tr>
        }
    </tbody>
</table>
<style>
    .kpp-description 
    {
        font-size: 1.1em;
        line-height: 1.4;
        margin-top: 1em;
    }
</style>
