@page
@model IndexModel
@{
    ViewData["Title"] = "checkpoint";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p class="kpp-description">Добро пожаловать на сайт Контрольно-пропускного пункта Торжокского Политехнического колледжа Росрезерва!</p>
    <p>Здесь вы можете ознакомиться со списками всех людей, проходящих через наш Контрольно-пропуской пункт!</p>
</div>


<style>
    .kpp-description 
    {
        font-size: 1.1em;
        line-height: 1.4;
        margin-top: 1em;
    }
</style>
